.catalog {
  padding-top: 50px;
  margin-bottom: 11px;
  padding-bottom: 44px;
  background: $color-base-grey--lightest;

  @include media("max", "md") {
    padding-top: 53px;
  }

  @include media("min", "md") {
    margin-bottom: 0;
    padding-top: 81px;
    padding-bottom: 91px;
  }

  @include media("min", "xl") {
    padding-top: 100px;
    padding-bottom: 121px;
  }
}

.catalog .wrapper {
  padding-left: 3px;
  display: grid;
  justify-items: center;

  @include media("min", "xl") {
    grid-template-columns: 1fr 3fr;
    column-gap: 10px;
  }
}

.catalog__badge {
  margin-bottom: 5px;

  @include media("min", "xl") {
    grid-column: 1 / -1;
  }
}

.catalog__title {
  margin-bottom: 19px;
  text-align: center;
  letter-spacing: 0;

  @include media("min", "md") {
    margin-bottom: 23px;
  }

  @include media("min", "xl") {
    margin-bottom: 36px;
    grid-column: 1 / -1;
  }
}

.filter__price {
  margin-bottom: 30px;

  @include font(1.6rem, 2.4rem, 600);

  @include media("min", "xl") {
    padding-top: 8px;
  }
}

.cards {
  @include media("min", "md") {
    width: 100%;
  }
}

.cards__sort-wrapper {
  padding-bottom: 20px;
  justify-content: start;
  align-items: baseline;
  column-gap: 6%;
  font-weight: 600;

  @include media("min", "md") {
    padding-bottom: 17px;
    column-gap: 2%;
    justify-content: end;
  }

  @include media("min", "xl") {
    padding-bottom: 14px;
  }
}

.cards__list {
  margin-bottom: 39px;

  @include media("min", "md") {
    margin-bottom: 59px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 3.7%;
    row-gap: 28px;
  }

  @include media("min", "xl") {
    column-gap: 2.6%;
  }

  @include media("max", "xl") {
    margin-bottom: 65px;
  }

  @include media("max", "md") {
    margin-bottom: 36px;
  }
}

.card__item {
  margin-bottom: 18px;
  padding: 40px 16px 14px;
  display: grid;
  row-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto repeat(2, auto) 54px;
  align-items: center;
  background: $color-light;

  @media (min-width: 768px) and (max-width: 1440px) {
    margin-bottom: 10px;
    padding-top: 50px;
  }

  @include media("max", "md") {
    margin-bottom: 26px;
    padding-top: 32px;
  }

  @include media("min", "xl") {
    &:hover,
    &:focus {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    }
  }
}

.card__item {
  @include media("min", "md") {
    max-width: 349px;
    padding-inline: 27px;
    row-gap: 11px;
  }

  @include media("min", "xl") {
    row-gap: 12px;
    margin-bottom: 3px;
    padding-top: 50px;
    padding-inline: 30px;
    padding-bottom: 19px;
    max-width: 317px;
  }
}

.card__image {
  padding-bottom: 19px;
  grid-column: 1 / -1;
  justify-self: center;
}

.card__title {
  grid-column: 1 / -1;

  @include font(1.8rem, 3.2rem, 700);

  @include media("min", "md") {
    @include font(2.4rem, 3.6rem, 700);
  }
}

.card__description {
  max-width: 95%;
  grid-column: 1 / -1;

  @include font(1.4rem, 2rem, 400);

  @include media("min", "xl") {
    max-width: 90%;
  }
}

.card__price {
  justify-self: start;
  align-self: center;
}

.card__button {
  width: max-content;
  min-width: 141px;
  max-height: 36px;
  position: relative;
  grid-column: 2 / -1;
  justify-self: end;
  text-align: right;
  font-size: 1.4rem;

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    background: url("data:image/svg+xml,%3Csvg width='20' height='16' viewBox='0 0 20 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.6738 13.5219L13.6769 13.5H15.0238L14.9937 13.7105C14.8061 15.0242 13.6809 16 12.3539 16H3.64612C2.31905 16 1.19393 15.0242 1.00626 13.7105L0.190476 8L0 6.66667H1.34687H4.55556L4.33218 3.98618C4.15336 1.84036 5.84674 0 8 0C9.81376 0 11.3012 1.30578 11.6183 3H10.2473C9.95698 2.04197 9.06703 1.33333 8 1.33333C6.62679 1.33333 5.54687 2.50699 5.66091 3.87546L5.89351 6.66667H9.5V8H6.05787L6.28009 10.6667H9.71991L9.7338 10.5H11.0718L11.0579 10.6667H12.5V12H10.9468L10.7245 14.6667H12.3539C13.0174 14.6667 13.58 14.1788 13.6738 13.5219ZM4.71991 8H4.66667H1.53735L1.9183 10.6667H4.94213L4.71991 8ZM6.61342 14.6667L6.3912 12H9.6088L9.38658 14.6667H6.61342ZM5.05324 12L5.27547 14.6667H3.64612C2.98259 14.6667 2.42003 14.1788 2.32619 13.5219L2.10877 12H5.05324ZM15.8 10V7.2H13V5.8H15.8V3H17.2V5.8H20V7.2H17.2V10H15.8Z' fill='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    left: 14px;
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  @include media("min", "md") {
    justify-content: end;
    column-gap: 20px;
  }

  @include media("max", "xl") {
    column-gap: 23px;
  }
}

.form {
  padding-bottom: 24px;

  @include media("max", "md") {
    padding-bottom: 14px;
  }

  @include media("min", "md") {
    display: grid;
    column-gap: 16px;
    row-gap: 9px;
    grid-template-columns: 223px;
    grid-template-areas:
      "price milk country"
      "buttons buttons buttons";
  }

  @include media("min", "xl") {
    display: block;
  }

  @include media("max", "xl") {
    padding-bottom: 18px;
  }
}

.form__slider {
  margin-bottom: 35px;

  @include media("min", "md") {
    margin-bottom: 29px;
  }
}

.form-slider .form__slider {
  @include media("min", "md") {
    width: 87%;
  }

  @include media("min", "xl") {
    margin-bottom: 33px;
  }
}

.form__slider-min-input,
.form__slider-max-input {
  padding: 7px;
  max-width: 43%;
  display: inline;
  text-align: center;
  border: 3px solid $color-base-primary--lighter;
  border-radius: 4px;

  @include media("min", "md") {
    max-width: 35%;
  }

  @include media("min", "xl") {
    max-width: 39%;
  }

  &::placeholder {
    color: $color-base-grey;
  }

  @include media("max", "md") {
    max-width: 40%;
  }
}

.form__slider-min-label:has(.form__slider-min-input:focus),
.form__slider-max-label:has(.form__slider-max-input:focus) {
  outline: 2px solid $color-base-primary--darker;
  outline-offset: -1px;
}

.form__slider-min-label:has(.form__slider-min-input:disabled),
.form__slider-max-label:has(.form__slider-max-input:disabled) {
  outline: 2px solid $color-base-grey;
  outline-offset: -1px;
  color: $color-base-grey;
}

.form__slider-delimiter {
  margin-inline: 7% 2.5%;

  @include media("min", "md") {
    margin-inline: 7% 9.5%;
  }

  @include media("min", "xl") {
    margin-inline: 5.5%;
  }
}

.form__section:nth-child(1) {
  padding-bottom: 30px;
}

.form__section:nth-child(2) {
  padding-bottom: 14px;

  @include media("min", "xl") {
    padding-bottom: 10px;
  }
}

.filter {
  @include media("min", "md") {
    width: 100%;
  }
}

.form-slider {
  @include media("min", "md") {
    grid-area: price;
  }
}

.milk {
  @include media("min", "md") {
    padding-left: 11px;
    grid-area: milk;
  }

  @include media("min", "xl") {
    padding-left: 0;
  }
}

.country {
  @include media("min", "md") {
    grid-area: country;
  }
}

.filter__milk,
.filter__country {
  margin-bottom: 24px;
}

.catalog-filter__box {
  margin-bottom: 24px;
}

.catalog-filter__title {
  position: relative;
  padding-left: 33px;
}

input:focus + .catalog-filter__title::before {
  outline: 2px solid rgba(247, 104, 9, 0.74);
  outline-offset: -1px;
}

.milk .catalog-filter__title {
  &::before {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    border: 2px solid $color-base-grey;
    border-radius: 50%;
    top: -2.5px;
    left: 0;
  }
}

.catalog-filter__radio:checked + .catalog-filter__title::before {
  border: 2px solid $color-base-primary;
}

.catalog-filter__radio:disabled + .catalog-filter__title::before {
  border: 2px solid $color-base-grey--light;
  cursor: default;
}

.catalog-filter__radio:checked + .catalog-filter__title::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  background: $color-base-primary;
  border-radius: 50%;
  top: 1.5px;
  left: 4px;
}

.catalog-filter__radio:disabled + .catalog-filter__title {
  color: $color-base-grey;
  cursor: default;
}

.catalog-filter__radio:hover + .catalog-filter__title::after,
.catalog-filter__radio:focus + .catalog-filter__title::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  background: $color-base-primary--alpha25;
  border-radius: 50%;
  top: 1.5px;
  left: 4px;
}

.catalog-filter__radio:disabled + .catalog-filter__title::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  background: $color-base-grey--light;
  border-radius: 50%;
  top: 1.5px;
  left: 4px;
}

.country {
  padding-bottom: 8px;

  @include media("min", "xl") {
    padding-bottom: 19px;
  }
}

.country .catalog-filter__title {
  padding-left: 51px;
}

.country .catalog-filter__title {
  &::before {
    content: "";
    width: 42px;
    height: 24px;
    position: absolute;
    top: -2.5px;
    left: 0;
    border: 2px solid transparent;
    border-radius: 12px;
    background: $color-base-grey;
  }
}

.catalog-filter__checkbox:hover + .catalog-filter__title::before,
.catalog-filter__checkbox:focus + .catalog-filter__title::before {
  outline: 2px solid $color-base-primary;
  outline-offset: -1px;
  background: $color-base-secondary;
}

.catalog-filter__checkbox:checked + .catalog-filter__title::before {
  transition: all 0.25s ease-in;
  background: $color-base-primary;
}

.catalog-filter__checkbox:disabled + .catalog-filter__title::before {
  background: $color-base-grey--light;
  cursor: default;
  outline: 2px solid transparent;
  outline-offset: -1px;
}

.catalog-filter__checkbox:checked + .catalog-filter__title::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background: $color-light;
  border-radius: 50%;
  top: 0;
  left: 20px;
}

.catalog-filter__checkbox + .catalog-filter__title::after {
  transition: all 0.25s ease-in;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background: $color-light;
  border-radius: 50%;
  top: 0;
  left: 1.5px;
}

.catalog-filter__checkbox:disabled + .catalog-filter__title::after {
  background: $color-base-grey;
}

.catalog-filter__checkbox:disabled + .catalog-filter__title {
  color: $color-base-grey;
  cursor: default;
}

//pagination
.pagination {
  position: relative;

  @include media("max", "md") {
    @include media("max", "md") {
      flex-wrap: wrap;
      column-gap: 10px;
    }
  }
}

.pagination__item {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: $color-light;
  cursor: pointer;

  &:hover,
  &:focus {
    background: $color-base-primary;
  }

  &:active {
    background: $color-base-primary--darker;
  }

  &:disabled {
    background: $color-base-grey;
  }
}

.pagination__item:hover .pagination__link,
.pagination__item:focus .pagination__link,
.pagination__item:active .pagination__link {
  color: $color-base-white;
}

.pagination__item:hover .arrow-left,
.pagination__item:hover .arrow-right {
  border-top: 2px solid $color-light;
  border-right: 2px solid $color-light;
}

.pagination__item.pagination__link:disabled {
  color: $color-base-black;
}

.pagination__link {
  color: $color-base-primary;
}

.pagination__item--active > .pagination__link {
  color: $color-base-black;
}

.pagination__item--active {
  background: transparent;
  font-weight: 700;
  cursor: default;

  &:hover {
    background: transparent;
  }
}

.pagination__item--active:hover .pagination__link {
  color: $color-base-black;
}

.arrow {
  position: relative;
  width: 6px;
  height: 6px;
  border-top: 2px solid #7859cf;
  border-right: 2px solid #7859cf;
  cursor: pointer;
}

.arrow-left {
  transform: rotate(-135deg);
}

.arrow-right {
  transform: rotate(45deg);
}

.arrow-mobile {
  @include media("min", "md") {
    display: none;
  }
}

.back,
.next {
  @include media("max", "md") {
    display: none;
  }

  @include media("min", "md") {
    width: min-content;
    padding: 8px;
  }
}
