.catalog {
  padding-bottom: 44px;
  background: $color-base-grey--lightest;
}

.catalog .wrapper {
  display: grid;
  justify-items: center;
}

.catalog__title {
  text-align: center;
}

.cards__list {
  margin-bottom: 40px;
}

.card__item {
  padding: 40px 0 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto repeat(2, 1fr) 50px;
  background: $color-light;
}

.card__image {
  grid-column: 1 / -1;
  justify-self: center;
}

.card__title {
  grid-column: 1 / -1;
}

.card__description {
  grid-column: 1 / -1;
}

.card__price {
  justify-self: start;
  align-self: center;
}

.card__button {
  min-width: 141px;
  max-height: 36px;
  grid-column: 2 / -1;
  justify-self: end;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
