/* menu */

.menu-nav {
  display: flex;
  justify-content: start;
  flex: 0 1 140px;
  column-gap: 15%;

  @include media("max", "md") {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: max-content auto;
    column-gap: 0;
  }

  @include media("min", "md") {
    max-width: 85%;
    width: 100%;
    column-gap: 0;
    row-gap: 15px;
    margin-left: auto;
    flex-wrap: wrap;
  }

  @include media("max", "xl") {
    max-width: 90%;
  }

  @include media("max", "md") {
    max-width: 100%;
  }
}

/* list */

.menu-nav__list {
  display: flex;
  column-gap: 44px;
  align-self: center;
  padding: 0;
  font-size: 12px;
  list-style: none;

  @include media("max", "md") {
    column-gap: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    justify-self: end;
  }

  @include media("min", "md") {
    min-width: min-content;
    column-gap: 0;
    flex-wrap: wrap;
  }

  @include media("min", "xl") {
    column-gap: 19px;
  }
}

.menu-site {
  @include media("max", "md") {
    display: none;
  }
}

.menu-site.menu__list--open {
  @include media("max", "md") {
    display: grid;
    justify-content: center;
  }
}

.menu__list--open {
  transition: all 10s;
  position: relative;
  order: 3;
  display: flex;

  @include media("max", "md") {
    grid-column: 1 / -1;
    width: 100%;
  }
}

.menu-user {
  @include media("min", "md") {
    order: 4;
    margin-left: auto;
  }
}

.menu-user__item {
  @include media("min", "md") {
    margin-right: 0;
  }

  @include media("min", "xl") {
    margin-right: 9px;
  }

  &:last-child {
    @include media("min", "xl") {
      margin-right: 0;
    }
  }
}

/* item */

.menu-nav__item {
  text-transform: uppercase;

  @include font(1.6rem, 125%, 400);
  text-align: center;
}

.menu-site__item {
  @include media("min", "md") {
    @include font(1.2rem, 1.6rem, 500);
  }

  &:first-child {
    @include media("max", "md") {
      margin-top: 11px;
      border-top: 1px solid $color-base-secondary;
    }
  }

  @include media("max", "md") {
    padding-block: 20px;
    border-bottom: 1px solid $color-base-secondary;
    width: 100vw;

    @include font(1.2rem, 1.6rem, 500);
  }
}

.menu-user__link {
  padding: 22px;

  &:active {
    background: $color-base-secondary;

    @include media("min", "xl") {
      color: $color-base-primary;
    }
  }
}

/* link */

.menu-site__link {
  @include media("min", "md") {
    padding: 32px;
    padding-inline: 21px;
  }

  &:hover,
  &:focus {
    color: $color-base-primary;
  }

  &:active {
    background: $color-base-secondary;
  }
}

.menu-site__item:has(.menu-site__link:active) {
  @include media("max", "md") {
    background: $color-base-secondary;
  }
}

.menu-site__link--active {
  padding-bottom: 2px;
  border-bottom: 2px solid $color-base-primary;
  font-weight: bold;

  @include media("max", "md") {
    border: none;
    color: $color-basic_font;
    font-weight: normal;
  }

  @include media("min", "md") {
    padding-bottom: 32px;
    color: $color-base-primary;
  }
}

.menu-user__link-title {
  @include media("max", "xl") {
    display: none;
  }

  @include media("min", "xl") {
    margin-left: 3px;

    @include font(1.2rem, 1.6rem, 500);
  }
}
