.slider {
  padding-bottom: 60px;
  position: relative;
  background: $color-flat-white;
}

.slider .wrapper {
  position: relative;
}

.slider__arrow-left,
.slider__arrow-right {
  position: absolute;
  width: 13px;
  height: 13px;
  border-top: 2px solid $color-base-primary;
  border-right: 2px solid $color-base-primary;
  top: 55%;
  cursor: pointer;
}

.slider__arrow-left {
  left: -17px;
  transform: rotate(-135deg) translate(0, 50%);
}

.slider__arrow-right {
  right: -9px;
  transform: rotate(45deg) translate(0, -50%);
}

.slider__content {
  display: grid;
  row-gap: 8px;
  justify-items: center;
}

.slider__image {
  padding-top: 19px;
}

.slider__title {
  @include media('max', 'md') {
    @include font(3.6rem, 48px, 700);
  }
}

.slider__description {
  margin-bottom: 13px;
}

.slider__buy {
  display: flex;
  column-gap: 13px;
}

.buy__old-price,
.buy__new-price {
  align-self: center;
}

.buy__old-price {
  @include font(1.6rem, 3.2rem);
  color: $color-base-primary;
}

.actual-price {
  @include font(2rem, 3.2rem, 600);
  padding-left: 2px;
}
