.slider {
  padding-bottom: 60px;
  background: $color-flat-white;

  @include media('min', 'md') {
    margin-bottom: 198px;
    padding-bottom: 307px;
    position: relative;
  }

  @include media('min', 'xl') {
    padding-bottom: 86px;
    margin-bottom: 49px;
  }
}

.slider .wrapper {
  position: relative;
}

.slider__arrow-left,
.slider__arrow-right {
  position: absolute;
  width: 13px;
  height: 13px;
  border-top: 2px solid $color-base-primary;
  border-right: 2px solid $color-base-primary;
  top: 55%;
  cursor: pointer;

  @include media('min', 'md') {
    top: auto;
    bottom: 0;
  }

  @include media('min', 'xl') {
    top: 56.5%;
  }
}

.slider__arrow-left {
  left: 12px;
  transform: rotate(-135deg) translate(0, 50%);

  @include media('max', 'md') {
    left: -18px;
  }

  @include media('min', 'xl') {
    left: -3px;
  }
}

.slider__arrow-right {
  right: 21px;
  transform: rotate(45deg) translate(0, -50%);

  @include media('max', 'md') {
    right: -9px;
  }

  @include media('min', 'xl') {
    right: 4px;
  }
}

.slider__content {
  display: grid;
  row-gap: 8px;
  justify-items: center;

  @include media('min', 'md') {
    position: relative;
    row-gap: 4px;
  }

  @include media('min', 'xl') {
    column-gap: 29px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 31% 15% 21% 40px auto;
    justify-items: start;
  }
}

.slider__image {
  padding-top: 19px;
}

.slider__title {
  @include media('max', 'md') {
    @include font(3.6rem, 48px, 700);
  }
}

.slider__description {
  margin-bottom: 13px;
}

.slider__buy {
  display: flex;
  column-gap: 13px;
}

.buy__old-price,
.buy__new-price {
  align-self: center;
}

.buy__old-price {
  @include font(1.6rem, 3.2rem);
  color: $color-base-primary;
}

.actual-price {
  @include font(2rem, 3.2rem, 600);
  padding-left: 2px;
}

.slider__badge {
  @include media('min', 'md') {
    grid-row: 1 / 2;
    padding-top: 61px;
  }

  @include media('min', 'xl') {
    padding-top: 181px;
  }
}

.slider__title {
  @include media('min', 'md') {
    margin-bottom: 11px;
    grid-row: 2 / 3;
    @include font(5.6rem, 8rem, 700);
  }

  @include media('min', 'xl') {
    letter-spacing: 1px;
  }
}

.slider__description {
  @include media('min', 'md') {
    margin-bottom: 17px;
    max-width: 90%;
    grid-row: 3 / 4;
    @include font(2rem, 3.2rem, 400);
  }

  @include media('min', 'xl') {
    text-align: start;
  }
}

.slider__description br {
  @include media('max', 'md') {
    display: none;
  }
}

.slider__buy {
  @include media('min', 'md') {
    grid-row: 4 / 5;
  }
}

.slider__image {
  @include media('min', 'md') {
    position: absolute;
    grid-row: 5 / 6;
    width: 476px;
    height: 490px;
  }

  @include media('min', 'xl') {
    margin-top: 14px;
    margin-left: auto;
    width: 600px;
    height: 615px;
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
  }
}
