/* footer */

.footer {
  width: 100%;
  min-width: $width-mobile-small;
  max-width: $width-desktop;
  min-height: 150px;
  margin-top: auto;
  margin-inline: auto;
}

.footer__container {
  display: flex;
  min-width: 320px;
  justify-content: space-between;
  padding-top: 66px;
  padding-bottom: 52px;
}

.footer__map-leaflet {
  width: 100%;
  height: 420px;

  background: url("/img/map.jpg");
  background-size: contain;
  background-repeat: no-repeat;

  @include media("min", "md") {
    height: 480px;
  }

  @include media("min", "xl") {
    height: 540px;
  }
}

.footer__info > .wrapper {
  @include media("min", "md") {
    display: flex;
    flex-wrap: wrap;
    column-gap: 11.5%;
  }

  @include media("min", "xl") {
    padding-top: 38px;
    align-items: start;
    column-gap: 3px;
  }
}

//- divider
.footer__item {
  @include media("max", "md") {
    border-bottom: 1px solid $color-base-secondary;
    padding-top: 23px;
    padding-bottom: 8px;
  }

  @include media("min", "md") {
    max-width: 30%;
  }

  @include media("min", "xl") {
    padding-top: 8px;
    max-width: 21%;
  }
}

.footer__item:not(:nth-child(4)) {
  @include media("min", "xl") {
    margin-right: 170px;
  }
}

.footer__item:nth-child(2) {
  @include media("max", "md") {
    border-top: 1px solid $color-base-secondary;
  }
}

.footer__item .wrapper {
  padding-top: 21px;
  padding-bottom: 9px;
}

.footer__link-item {
  margin-bottom: 17px;
}

.link-item__title {
  text-transform: uppercase;

  @include font(1.2rem, 1.6rem, 500);

  &:hover,
  &:focus {
    color: $color-base-primary--lighter;
  }

  &:active {
    color: $color-base-primary--darker;
  }
}

.footer__social-list {
  padding-top: 23px;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @include media("min", "md") {
    padding-top: 36px;
    padding-bottom: 30px;
    width: 100%;
  }

  @include media("min", "xl") {
    padding-top: 0;
    max-width: 25.5%;
    row-gap: 50px;
    flex-wrap: wrap;
    justify-content: start;
  }

  @include media("max", "md") {
    padding-bottom: 0;
    align-items: flex-start;
  }
}

.footer__social-list li:first-child {
  margin-right: 10%;

  @include media("min", "md") {
    margin-right: auto;
  }

  @include media("min", "xl") {
    margin-right: 10%;
  }
}

.social__item {
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;

  &:hover,
  &:focus {
    background: $color-base-secondary;
  }

  &:active {
    background: $color-base-primary--alpha25;
  }
}

.social__item svg {
  color: $color-base-grey;
}

.social__item:hover svg,
.social__item:focus svg,
.social__item:active svg {
  color: $color-base-primary;
}

.footer__social-list .social__item:not(:last-child) {
  @include media("min", "md") {
    margin-right: 13px;
  }
}

.media {
  @include media("min", "md") {
    padding-left: 15px;
  }

  @include media("min", "xl") {
    padding-left: 25px;
  }
}

.contacts {
  padding-bottom: 9px;
  position: relative;

  @include media("min", "xl") {
    padding-top: 7px;
  }
}

.contacts__info {
  padding-left: 20px;

  @include font(1.4rem, 2rem, 400);
}

.contacts__adress {
  margin-bottom: 18px;
}

.contacts__address-link,
.contacts__phone-link {
  &:hover,
  &:focus {
    color: $color-base-primary--lighter;
  }

  &:active {
    color: $color-base-primary--darker;
  }
}

.contacts__adress::before,
.contacts__phone::before {
  content: "";
  width: 13px;
  height: 16px;
  position: absolute;
  transform: translate(0, 15%);
  left: 0;
  background-repeat: no-repeat;
}

.contacts__adress::before {
  background: url("/img/icons/contacts.png");
}

.contacts__phone::before {
  background: url("/img/icons/phone.png");
}

//- colpyright
.footer__copyright {
  margin-top: auto;
  padding-block: 20px;
  text-align: center;

  @include media("min", "md") {
    padding-top: 15px;
    width: 100%;
  }

  @include media("min", "xl") {
    padding-top: 4px;
  }

  @include media("max", "md") {
    padding-block: 14px;
  }
}

.footer__copyright-text {
  position: relative;
  color: $color-base-grey;

  @include font(1.2rem, 1.6rem);

  &:last-child:hover,
  &:last-child:focus {
    color: $color-base-primary;
  }

  &:last-child:active {
    color: $color-base-primary--darker;
  }
}

.footer__copyright svg {
  transform: translate(10%, 30%);
}

.footer__list .logo__img {
  height: 36px;
  min-width: 82px;

  @include media("min", "xl") {
    margin-bottom: 10px;
  }
}

.footer__list svg {
  height: 20px;
  min-width: 20px;
}
