/* footer */

.footer {
  width: 100%;
  min-width: $width-mobile-small;
  max-width: $width-desktop;
  min-height: 150px;
  margin-top: auto;
  margin-inline: auto;
}

.footer__container {
  display: flex;
  min-width: 320px;
  justify-content: space-between;
  padding-top: 66px;
  padding-bottom: 52px;
}

.footer__map-leaflet {
  width: 100%;
  height: 420px;

  @include media('min', 'md') {
    height: 480px;
  }
}

.footer__info > .wrapper {
  @include media('min', 'md') {
    display: flex;
    flex-wrap: wrap;
    column-gap: 11.5%;
  }
}

//divider
.footer__item {
  @include media('max', 'md') {
    border-bottom: 1px solid $color-base-secondary;
    padding-top: 23px;
    padding-bottom: 8px;
  }
}

.footer__item:nth-child(2) {
  @include media('max', 'md') {
    border-top: 1px solid $color-base-secondary;
  }
}

.footer__item .wrapper {
  padding-top: 21px;
  padding-bottom: 9px;
}

.footer__link-item {
  margin-bottom: 17px;
}

.link-item__title {
  text-transform: uppercase;
  @include font(1.2rem, 1.6rem, 500);
}

.footer__social-list {
  padding-top: 23px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media('min', 'md') {
    padding-top: 43px;
    padding-bottom: 30px;
    width: 100%;
  }
}

.footer__social-list .social__item:not(:last-child) {
  @include media('min', 'md') {
    margin-right: 33px;
  }
}

.footer__social-list .social__item:last-child {
  @include media('min', 'md') {
    margin-right: 7px;
  }
}

.media {
  @include media('min', 'md') {
    padding-left: 15px;
  }
}

.contacts {
  padding-bottom: 9px;
  position: relative;
}

.contacts__info {
  padding-left: 20px;
  @include font(1.4rem, 2rem, 400);
}

.contacts__adress {
  margin-bottom: 18px;
}

.contacts__adress::before,
.contacts__phone::before {
  content: '';
  width: 13px;
  height: 16px;
  position: absolute;
  transform: translate(0, 15%);
  left: 0;
  background-repeat: no-repeat;
}

.contacts__adress::before {
  background: url('../img/icons/contacts.webp');
}

.contacts__phone::before {
  background: url('../img/icons/phone.webp');
}

//colpyright
.footer__copyright {
  margin-top: auto;
  padding-block: 20px;
  text-align: center;

  @include media('min', 'md') {
    padding-top: 15px;
    width: 100%;
  }
}

.footer__copyright-text {
  position: relative;
  color: $color-base-grey;
  @include font(1.2rem, 1.6rem);
}
.footer__copyright-logo {
  transform: translate(20%, 20%);
}

.footer__list .logo__img {
  height: 36px;
  min-width: 82px;
}

.footer__list svg {
  height: 20px;
  min-width: 20px;
}

.footer__item {
  @include media('min', 'md') {
    max-width: 30%;
  }
}
