/* header */

.header {
  position: relative;
  width: 100%;
  max-width: $width-desktop;
  align-items: center;
  background-color: transparent;
  padding-top: 12px;
  padding-bottom: 8px;
  margin-inline: auto;

  & .wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.header__phone {
  position: relative;
  margin-top: 4px;
  margin-right: auto;
  @include font(1.6rem, 125%, 600);

  &::before {
    position: absolute;
    top: 0;
    left: -25px;
    width: 21px;
    height: 21px;
    background-image: url('../../img/icons/phone.svg');
    background-repeat: no-repeat;
    background-size: 20px 21px;
    content: url('');
  }
}
