/* header */

.header {
  position: relative;
  width: 100%;
  max-width: $width-desktop;
  align-items: center;
  background-color: transparent;
  margin: 0 auto;

  @include media("min", "md") {
    padding-block: 22px;
    padding-top: 31px;
  }

  @include media("min", "xl") {
    padding-block: 22px;
  }
}

.header .wrapper {
  margin-inline: 2.9%;
  position: relative;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  justify-content: space-between;

  @include media("max", "md") {
    margin-left: 2.9%;
    margin-right: 0;
    display: block;
  }

  @include media("min", "md") {
    row-gap: 25px;
    justify-content: start;
    align-items: center;

    flex-wrap: wrap;
  }
}

.menu-nav__button svg {
  height: 22px;
  width: 22px;
}

.menu-nav__button:active {
  background: $color-base-secondary;
}

.header__phone {
  position: relative;
  margin-top: 4px;
  margin-right: auto;

  @include font(1.6rem, 125%, 600);

  &::before {
    position: absolute;
    top: 0;
    left: -25px;
    width: 21px;
    height: 21px;
    background-image: url("../../img/icons/phone.svg");
    background-repeat: no-repeat;
    background-size: 20px 21px;
    content: url("");
  }
}
