@import "./abstract";

/* page */

.page {
  height: 100%;
  font-family: $font-family-default;
  font-size: 10px;
}

.page__body {
  padding: 0;
  margin: 0 auto;
  min-width: $width-mobile-small;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: $color-basic_font;

  @include font(1.6rem, 2rem);

  @include media("min", "md") {
    min-width: $width-tablet;
  }
}

.index-page {
  max-width: $width-desktop;
  width: 100%;
  margin: 0 auto;
}

@include media("min", "xl") {
  .page-main {
    margin-inline: 41px 88px;
  }
}

.badge {
  text-transform: uppercase;
}

.description {
  @include font(1.4rem, 2rem);
  text-align: center;
}
