.h2 {
  letter-spacing: 0.5px;
  text-align: center;

  @include media("min", "md") {
    @include font(4.2rem, 6.4rem, 700);
  }

  @include media("max", "md") {
    @include font(2.4rem, 3.6rem, 700);
  }
}

.h3 {
  @include media("max", "md") {
    @include font(1.8rem, 3.2rem, 700);
  }

  @include media("max", "xl") {
    @include font(2.4rem, 3.6rem, 700);
  }
}

.h4 {
  @include font(1.2rem, 1.6rem, 700);
  letter-spacing: 0.5px;
  color: $color-base-primary;
}

.h4--footer {
  @include font(1.4rem, 2rem, 700);
  margin-bottom: 15px;
}
