include ../mixins/input
include ../mixins/pagination

section.catalog
  .wrapper
    h4.h4.catalog__badge.badge Каталог
    h2.h2.catalog__title Каталог кофейных напитков
    section.filter
      form.filter__form.form(action="#")

        fieldset.form__section.form-slider
          legend.filter__price Цена
          .form__slider(id="form-slider")
          label.form__slider-min-label
            input.form__slider-min-input(placeholder="0")
          span.form__slider-delimiter &ndash;
          label.form__slider-max-label
            input.form__slider-max-input

        fieldset.form__section.milk
          legend.filter__milk Наличие молока
          +input('radio', 'milk', "Неважно", true)
          +input('radio', 'milk', "Только животные")
          +input('radio', 'milk', "Только растительное")
          +input('radio', 'milk', "Без молока")(disabled)

        fieldset.form__section.country
          legend.filter__country Страна произрастания
          +input('checkbox', 'country', "Бразилия", true)
          +input('checkbox', 'country', "Эфиопия")
          +input('checkbox', 'country', "Колумбия")
          +input('checkbox', 'country', "Коста-Рика")
          +input('checkbox', 'country', "Перу")(disabled)

        +button("Применить")(class='button__apply')
        +button("Сбросить")(class='button__reset')

    section.cards
      .cards__sort-wrapper
        form.cards__select-wrapper.select
          p.select__h Сортировка:
          .select__wrapper(data-state="")
            .select__title(data-default="Option 0") по умолчанию
            .select__content
              label.select__label(for="singleSelect0") по умолчанию
              input.select__input(id="singleSelect1" type="radio" name="singleSelect" checked)
              label.select__label(for="singleSelect1") по умолчанию
              input.select__input(id="singleSelect2" type="radio" name="singleSelect")
              label.select__label(for="singleSelect2") сначала дорогие
              input.select__input(id="singleSelect3" type="radio" name="singleSelect" )
              label.select__label(for="singleSelect3") сначала дешёвые
              input.select__input(id="singleSelect4" type="radio" name="singleSelect" )
              label.select__label(for="singleSelect4") высокий рейтинг


      ul.cards__list
        +card('coffee_can1', 'Декаф Флэт Уайт', 'Кофе без кофеина из Эфиопии с натуральным фермерским молоком', '225₽')
        +card('coffee_can2', 'Декаф Флэт Уайт', 'Кофе без кофеина из Эфиопии с натуральным фермерским молоком', '225₽')
        +card('coffee_can3', 'Декаф Флэт Уайт', 'Кофе без кофеина из Эфиопии с натуральным фермерским молоком', '225₽')
        +card('coffee_can4', 'Декаф Флэт Уайт', 'Кофе без кофеина из Эфиопии с натуральным фермерским молоком', '225₽')
        +card('coffee_can5', 'Декаф Флэт Уайт', 'Кофе без кофеина из Эфиопии с натуральным фермерским молоком', '225₽')
        +card('coffee_can6', 'Декаф Флэт Уайт', 'Кофе без кофеина из Эфиопии с натуральным фермерским молоком', '225₽')

      ul.pagination
        li.pagination__item.back
          a.pagination__link.pagination__link--arrow(href="#" title="Перейти на предыдущую страницу") Назад
          span.visually-hidden Перейти на предыдущую страницу
        +pagination('Назад', '#', false, true)(disabled)
        +pagination('1', '#')
        +pagination('2', '#', true)
        +pagination('3', '#')
        +pagination('Вперед', '#', false, false, true)
        li.pagination__item.next
          a.pagination__link.pagination__link--arrow(href="#" title="Перейти на предыдущую страницу") Вперёд
          span.visually-hidden Перейти на следующую страницу

