include ../mixins/input
include ../mixins/pagination

section.catalog
  .wrapper
    h4.h4.catalog__badge.badge Каталог
    h2.h2.catalog__title Каталог кофейных напитков
    section.filter
      h2.visually-hidden Фильтр
      form.filter__form.form(method="get" action="https://echo.htmlacademy.ru")

        fieldset.form__section.form-slider
          legend.filter__price Цена
          .form__slider(id="form-slider")
          label.form__slider-min-label
            input.form__slider-min-input(type="number" name="minPrice" placeholder="0")
          span.form__slider-delimiter &ndash;
          label.form__slider-max-label
            input.form__slider-max-input(type="number" name="maxPrice"  )

        fieldset.form__section.milk.catalog-filter
          legend.filter__milk Наличие молока
          +input('radio', 'milk', "Неважно", "doesntMatter", true)
          +input('radio', 'milk',  "Только животные", "onlyAnimals")
          +input('radio', 'milk', "Только растительное", "onlyVegetable")
          +input('radio', 'milk', "Без молока", "withoutMilk")(disabled)

        fieldset.form__section.country.catalog-filter
          legend.filter__country Страна произрастания
          +input('checkbox', 'Brazil', "Бразилия", '', true)
          +input('checkbox', 'Ethiopia', "Эфиопия")
          +input('checkbox', 'Colombia', "Колумбия")
          +input('checkbox', 'CostaRica', "Коста-Рика")
          +input('checkbox', 'Peru', "Перу")(disabled)

        +button("Применить")(class='button-apply' type="submit")
        +button("Сбросить")(class='button-reset' type="reset")

    section.cards
      .cards__sort-wrapper
        form.cards__select-wrapper.select
          p.select__h Сортировка:
          .select__wrapper(data-state="")
            button.select__title(data-default="Option 0") по умолчанию
            .select__content
              input.select__input(id="singleSelect0" type="radio" name="singleSelect" )
              label.select__label(for="singleSelect0")
              input.select__input(id="singleSelect1" type="radio" name="singleSelect" )
              label.select__label(for="singleSelect1") по умолчанию
              input.select__input(id="singleSelect2" type="radio" name="singleSelect")
              label.select__label(for="singleSelect2") сначала дорогие
              input.select__input(id="singleSelect3" type="radio" name="singleSelect" )
              label.select__label(for="singleSelect3") сначала дешёвые
              input.select__input(id="singleSelect4" type="radio" name="singleSelect" )
              label.select__label(for="singleSelect4") высокий рейтинг


      ul.cards__list.card
        +card('coffee_can1', 'Декаф Флэт Уайт', 'Кофе без кофеина из Эфиопии с натуральным фермерским молоком', '225₽')
        +card('coffee_can2', 'Декаф Флэт Уайт', 'Кофе без кофеина из Эфиопии с натуральным фермерским молоком', '225₽')
        +card('coffee_can3', 'Декаф Флэт Уайт', 'Кофе без кофеина из Эфиопии с натуральным фермерским молоком', '225₽')
        +card('coffee_can4', 'Декаф Флэт Уайт', 'Кофе без кофеина из Эфиопии с натуральным фермерским молоком', '225₽')
        +card('coffee_can5', 'Декаф Флэт Уайт', 'Кофе без кофеина из Эфиопии с натуральным фермерским молоком', '225₽')
        +card('coffee_can6', 'Декаф Флэт Уайт', 'Кофе без кофеина из Эфиопии с натуральным фермерским молоком', '225₽')

      ul.pagination
        li.pagination__item.back
          a.pagination__link.pagination__link--arrow.back(href="#" title="Перейти на предыдущую страницу") Назад
          span.visually-hidden Перейти на предыдущую страницу
        +pagination('Назад', '#', false, true)(disabled)
        +pagination('1', '#')(class="pagination__page")
        +pagination('2', '#', true)(class="pagination__page")
        +pagination('3', '#')(class="pagination__page")
        +pagination('Вперед', '#', false, false, true)
        li.pagination__item.next
          a.pagination__link.pagination__link--arrow.next(href="#" title="Перейти на предыдущую страницу") Вперёд
          span.visually-hidden Перейти на следующую страницу

