section.slider
  .wrapper
    button.wrapper__img
      img.slider__arrow-left(src="img/icons/arrow_left.webp")
    .slider__content
      img.slider__image(src="img/slider/flat_white.webp")
      h4.h4.slider__badge.badge Новинка!
      h2.h2.slider__title Декаф Флэт Уайт
      p.slider__description.description Свежесваренный кофе без кофеина из Эфиопии #[br] с натуральным фермерским молоком — то, что нужно#[br] для расслабления после тяжёлого рабочего дня
      .slider__buy.buy
        s.buy__old-price 295₽
        p.buy__new-price.actual-price 225₽
        +button("Заказать")
    button.wrapper__img
      img.slider__arrow-right(src="img/icons/arrow_right.webp")
    ul.slider__pagination
      li.slider__pafination-item
        button.slider__pagination-button.active
      li.slider__pafination-item
        button.slider__pagination-button
      li.slider__pafination-item
        button.slider__pagination-button
