section.slider
  +slider-image('Декаф Флэт Уайт', 'Свежесваренный кофе без кофеина из Эфиопии с натуральным фермерским молоком — то, что нужно для расслабления после тяжёлого рабочего дня', ' 295₽', '225₽', 'flat_white')(class="decaf-flat")
  +slider-image('Лавандовый Латте', 'Невероятное сочетание перуанской высокогорной арабики с молоком ламы и лавандовым сиропом унесёт вас прямо на вершину Радужных гор', ' 285₽', '265₽', 'lavender')(class="lavender-latte")
  +slider-image('Тройной Эспрессо', 'Мощнее укола адреналина, чернее самой тёмной ночи, этот тройной эспрессо из Колумбии покажет вам, что такое настоящая бодрость', ' 395₽', '375₽', 'espresso')(class="espresso ")

  ul.slider__pagination
    li.slider__pafination-item
      button.slider__pagination-button.active
    li.slider__pafination-item
      button.slider__pagination-button
    li.slider__pafination-item
      button.slider__pagination-button
