/* button */

.button {
  width: 100%;
  @extend %transition;
  background: $color-base-primary;
  color: $color-base-white;
  padding: 8px 20px;
  border: 2px solid transparent;
  border-radius: 4px;
}

/* menu */

.menu-nav__button {
  @include media('max', 'md') {
    display: block;
    order: 1;
    padding: 2px;
    border: none;
    margin: 0;
    background-color: transparent;
    cursor: pointer;
  }

  @include media('min', 'md') {
    display: none;
  }
}

/* menu-icon */

@include media('max', 'md') {
  .menu-nav__icon {
    stroke: $color-basic_font;
  }

  .menu-nav__icon:hover {
    stroke: $color-base-black;
  }
}

.menu-nav__icon-menu,
.menu__button--open .menu-nav__icon-cross {
  display: block;
}

.menu-nav__icon-cross,
.menu__button--open .menu-nav__icon-menu {
  display: none;
}
