/* logo */

.logo {
  column-gap: 8px;
  transition: all 0.3s;
}

.header__logo {
  @include media('max', 'md') {
    position: absolute;
  }

  @include media('min', 'md') {
    margin-right: auto;
  }
}

.logo__img {
  width: 40px;
  height: 40px;

  @include media('max', 'md') {
    grid-row: span 2;
  }

  @include media('min', 'md') {
    width: 82px;
    height: 36px;
  }

  @include media('min', 'xl') {
    width: 170px;
  }
}

@include media('max', 'md') {
  .logo__title,
  .logo__tagline {
    display: none;
  }
}

.logo__title {
  margin: 0;

  @include media('min', 'md') {
    align-self: center;
  }
}

.logo__tagline {
  margin: 0;

  @include media('min', 'md') {
    display: none;
  }
}
