$width-mobile-small: 320px;
$width-mobile-big: 414px;
$width-tablet: 767.9px;
$width-content: 1200px;
$width-desktop: 1439.9px;

// .block1 {
// padding: 10px;
// @media screen and (max-width: $desktop-width) {
// padding: 20px;
// }
// }

$wrapper-inline: calc(20px / 320px * 100%);
